<template>
  <nav v-once class="container">
    <ol>
      <li v-for="(item, index) in $store.state.navigation.items" :key="index">
        <nuxt-link v-if="!item.external" :to="item.url" class="button--green">{{ item.text }}</nuxt-link>
        <a v-else :href="item.url" target="_blank" class="button--grey">{{ item.text }}</a>
      </li>
    </ol>
  </nav>
</template>

<script>
export default {
  name: 'TheNav'
}
</script>

<style scoped>
nav {
  --spacer: .5rem;
  position: sticky;
  top: 0;
  padding: var(--spacer);
}

ol {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: calc(var(--spacer) * -1);
  padding-left: 0;
}

li {
  margin: var(--spacer);
}
</style>
