<template>
  <main class="container">
    <article itemscope itemtype="https://schema.org/BlogPosting">
      <header itemprop="headline">
        <h1>{{ blogPost.title }}</h1>
      </header>
      <time itemprop="datePublished" class="caption" :datetime="blogPost.data">{{ formattedDate }}</time>
      <div itemprop="articleBody" v-html="$md.render(blogPost.body)" />
    </article>
  </main>
</template>

<script>
export default {
  async asyncData({ params, payload }) {
    if (payload) return { blogPost: payload }
    else
      return {
        blogPost: await require(`~/assets/content/blog/${params.blog}.json`)
      }
  },
  computed: {
    formattedDate() {
      const locale = (typeof navigator !== 'undefined' && navigator.language) || 'en-US'
      return new Intl.DateTimeFormat(locale).format(Date.parse(this.blogPost.date))
    }
  }
}
</script>
