<template>
  <main class="container">
    <ol v-once>
      <li v-for="(blogPost, index) in blogPosts" :key="index">
        <nuxt-link :to="`/blog/${blogPost.slug}`">{{ blogPost.title }}</nuxt-link>
      </li>
    </ol>
  </main>
</template>

<script>
export default {
  computed: {
    blogPosts() {
      return this.$store.state.blogPosts
    }
  }
}
</script>
